
<a href="@Document.GetString("AppleURL")" target="_blank" class="badge badge-light"><i class="fab fa-apple" aria-hidden="true">&nbsp;Apple Podcasts</i></a>
<a href="@Document.GetString("SpotifyURL")" target="_blank" class="badge badge-light"><i class="fab fa-spotify" aria-hidden="true">&nbsp;Spotify</i></a>
<a href="@Document.GetString("GoogleURL")" target="_blank" class="badge badge-light"><i class="fab fa-google" aria-hidden="true">&nbsp;Google Podcasts</i></a>
<a href="@Document.GetString("AudibleURL")" target="_blank" class="badge badge-light"><i class="fab fa-audible" aria-hidden="true">&nbsp;Audible</i></a>
<a href="@Document.GetString("RSSURL")" target="_blank" class="badge badge-light"><i class="fa fa-rss" aria-hidden="true">&nbsp;RSS</i></a>