<p>
    Get the latest episodes of @Document.GetString("SiteTitle") by copying and pasting the URL below into your favorite podcast app:
    <br />
    <br />
    <a href="@Document.GetString("RSSURL")" class="badge badge-light" ><i class="fa fa-rss" aria-hidden="true">&nbsp;@Document.GetString("SiteTitle") RSS Feed</i></a>
    <br />
    <br />
</p>
<p>
    You can also subscribe with your favorite app directly by using the buttons below:
    <br />
    <br />
    <a href="@Document.GetString("AppleURL")" target="_blank"><img height="40" width="158" src="images/apple_podcasts.png" /></a>
    <a href="@Document.GetString("GoogleURL")" target="_blank"><img height="40" width="158" src="images/EN_Google_Podcasts_Badge_1x.png" /></a>
    <a href="@Document.GetString("AudibleURL")" target="_blank"><img height="40" width="158" src="images/Listen-on-Audible-badge.png" /></a>
    <a href="@Document.GetString("SpotifyURL")" target="_blank"><img height="40" width="158" src="images/spotify-podcast-badge-wht-grn-165x40.png" /></a>
    <a href="@Document.GetString("IHeartURL")" target="_blank"><img height="40" width="158" src="images/Listen_On_iHeartRadio.png" /></a>
    <a href="@Document.GetString("PodBeanURL")" rel="noopener noreferrer" target="_blank"><img height="40" width="145" src="https://fastfs1.podbean.com/site/images/badges/w600_1.png" alt="App download"></a>
</p>